# Project specific
build/
builds/
cmake-build-*
.idea

!instances/.gitkeep

!benchmark/.gitkeep
benchmark/aux
benchmark/builds
benchmark/output
benchmark/status.cache
benchmark/validation.cache

# mac
.DS_Store

# Python & jupyter
.ipynb_checkpoints

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
